body {
  width: 300px;
  height: 260px;
  margin: 0;

  position: relative;
  background: linear-gradient(
      193.95deg,
      #101014 3.44%,
      rgba(0, 0, 0, 0) 174.43%
    ),
    linear-gradient(270deg, #673afc -50%, #101014 100%, #673afc -100%);
}




