body {
  background: linear-gradient(
      193.95deg,
      #101014 3.44%,
      rgba(0, 0, 0, 0) 174.43%
    ),
    linear-gradient(270deg, #673afc -50%, #101014 100%, #673afc -100%);
}

.MuiButton-root {
  border-radius: var(--radius, 4px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(40deg, #FF2EEA 5.66%, #4B3CFF 92.50%);
}

.MuiButton-root:hover {
  background: linear-gradient(307deg, #FF2EEA 5.66%, #4B3CFF 92.50%);
  box-shadow: 10px 10px 80px 0px rgba(124, 56, 250, 0.20);
}
