body {
  background: linear-gradient(
      193.95deg,
      #101014 3.44%,
      rgba(0, 0, 0, 0) 174.43%
    ),
    linear-gradient(270deg, #673afc -50%, #101014 100%, #673afc -100%);
    background-attachment: fixed;
}

.PrimaryButton {
  display: flex;
  border: 4px;
  padding: 16px var(--side-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 200px;
  height: 48px;

  border-radius: var(--radius, 4px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(40deg, #FF2EEA 5.66%, #4B3CFF 92.50%);

  color: var(--text-header, #FBFBFF);
  text-align: center;
  /* special case/button text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  text-transform: capitalize;
}

.PrimaryButton:hover {
  border-radius: var(--radius, 4px);
  background: linear-gradient(307deg, #FF2EEA 5.66%, #4B3CFF 92.50%);
  box-shadow: 10px 10px 80px 0px rgba(124, 56, 250, 0.20);
}

.SecondaryButton {
  display: flex;
  padding: 16px var(--side-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;

  height: 48px;
  width: 200px;

  border-radius: 4px;
  border: 1px solid var(--grays-ghost-white, #FBFBFF);
  background: var(--grays-ghost-white, #FBFBFF);

  color: var(--text-dark-text-on-a-light-bg, #101014);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; /* 20.3px */
}

.SecondaryButton:hover {
  display: flex;
  padding: 16px var(--side-padding, 24px);
  align-items: center;
  gap: 8px;

  border-radius: 4px;
  border: 1px transparent;
  background: var(--gradient-magenta-purple-vertical, linear-gradient(40deg, #FF2EEA 5.66%, #4B3CFF 92.50%));

  color: var(--grays-ghost-white, #FBFBFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; /* 20.3px */
}

.MuiTypography-root.Label {
  color: var(--text-body, #E1E1E5);
  /* body/Body1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
}

label {
  color: var(--grays-ghost-white, #FBFBFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

select {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  color: var(--grays-ghost-white, #FBFBFF);
  /* body/Body1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */

  border: 2px solid var(--border, #4E4E52);
  background: var(--bg, #101014); 
}

option {
  flex: 1 0 0;

  color: var(--grays-ghost-white, #FBFBFF);
  /* body/Body1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */

}

.Transcript {
  display: flex;
  width:100%;
  margin: 20px;
  padding: 24px;
  padding-top: 16px;
  min-height: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #2C2C33;

  color: var(--text-body, #E1E1E5);
  font-family: Fira Code;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  letter-spacing: 0.42px;
  background-color: #1A1A1F;
  

  overflow-y: auto;
  flex-shrink: 0;
  resize: none;
}


.URLInput {
  display: flex;
  width: 360px;
  height: 24px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 13px;
  flex-shrink: 0;

  border: 2px solid var(--gray-raisin-black, #2C2C33);
  background: var(--gray-jet-black, #101014);
  background: var(--bg, #101014);

  color: var(--gray-slate, #949498);
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 145%; /* 20.3px */
}


.VerticalDivider {
  border-left: 1px solid #616165;
}

.DividerText {
  color: var(--text-body-default, #E1E1E5);
  font-family: ABC Favorit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 17.5px */
  letter-spacing: 0.28px;
  text-transform: uppercase;
}


.Upload {
  display: flex;
  width: 360px;
  height: 24px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 13px;
  flex-shrink: 0;


  color: #E1E1E5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; /* 20.3px */
}

