body {
  background: linear-gradient(
      193.95deg,
      #101014 3.44%,
      rgba(0, 0, 0, 0) 174.43%
    ),
    linear-gradient(270deg, #673afc -50%, #101014 100%, #673afc -100%);
}

.MuiButton-contained.PrimaryButton {
  display: flex;
  padding: 16px var(--side-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 175px;

  color: var(--text-header, #FBFBFF);
  text-align: center;
  /* special case/button text */
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  text-transform: capitalize;

  border-radius: var(--radius, 4px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(40deg, #FF2EEA 5.66%, #4B3CFF 92.50%);
}

.MuiButton-contained.PrimaryButton:hover {
  border-radius: var(--radius, 4px);
  background: linear-gradient(307deg, #FF2EEA 5.66%, #4B3CFF 92.50%);
  box-shadow: 10px 10px 80px 0px rgba(124, 56, 250, 0.20);
}

.MuiButton-text.SecondaryButton {
  display: inline-flex;
  padding: 16px var(--side-padding, 24px);
  align-items: center;
  gap: 8px;

  border-radius: 4px;
  border: 1px solid var(--grays-ghost-white, #FBFBFF);

  width: 119px;

  color: var(--text-header, #FBFBFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; /* 20.3px */
}